# Copy to backend.hcl and fill in from bootstrap/create-state-backend.sh output.
# Test 2
bucket       = "docbridge-tfstate-329914305966"
key          = "docbridge/global/terraform.tfstate"
region       = "us-east-1"
use_lockfile = true
encrypt      = true
